<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Firstname</li>
    <li><%= f.text_field :firstname %></li>
    <li data-role="list-divider">Lastname</li>
    <li><%= f.text_field :lastname %></li>
    <li data-role="list-divider">Email</li>
    <li><%= f.text_field :email %></li>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
