<%= form_for(@work_request) do |f| %>
  <% if @work_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_request.errors.count, "error") %> prohibited this work_request from being saved:</h2>

      <ul>
      <% @work_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :businessunit_id %><br />
    <%= collection_select(:work_request, :businessunit_id, BusinessUnit.all, :id, :title, {:include_blank => 'Please select a business unit'}) %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= collection_select(:work_request, :category_id, Category.all,:id,:title ,{:include_blank => 'Please select a category'}) %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br />
    <%= collection_select(:work_request, :status_id, Status.all,:id,:title,{:include_blank => 'Please select a status'}) %>
  </div>
  <div class="field">
    <%= f.label :plant_id %><br />
    <%= collection_select(:work_request, :plant_id, Plant.all,:id,:title, {:include_blank => 'Please select a plant'}) %>
  </div>
  <div class="field">
    <%= f.label :area_id %><br />
    <%= collection_select(:work_request, :area_id, Area.all,:id,:title, {:include_blank => 'Please select an area'}) %>
    
  </div>
  <div class="field">
    <%= f.label :requestors %><br />
    <%= f.text_field :requestors %>
  </div>
  <div class="field">
    <%= f.label :queue %><br />
    <%= f.text_field :queue %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
