<%= form_for(@work_request) do |f| %>
  <% if @work_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_request.errors.count, "error") %> prohibited this work request from being saved:</h2>

      <ul>
      <% @work_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Title</li>
    <li><%= f.text_field :title %></li>
    <li data-role="list-divider">Business Unit</li>
    <li><%= collection_select(:work_request, :unit_id, Unit.all, :id, :title, {:include_blank => 'Please select a business unit'}) %></li>
    <li data-role="list-divider">Category</li>
    <li><%= collection_select(:work_request, :category_id, Category.all,:id,:title ,{:include_blank => 'Please select a category'}) %></li>
    <li data-role="list-divider">Status</li>
    <li><%= collection_select(:work_request, :status_id, Status.all,:id,:title,{:include_blank => 'Please select a status'}) %></li>
    <li data-role="list-divider">Plant</li>
    <li><%=  collection_select(:work_request, :plant_id, Plant.all,:id,:title, {:include_blank => 'Please select a plant'}) %></li>
    <li data-role="list-divider">Area</li>
    <li><%= collection_select(:work_request, :area_id, Area.all,:id,:title, {:include_blank => 'Please select an area'}) %></li>
    <li data-role="list-divider">Requestors</li>
    <li><%= f.text_field :requestors %></li>
    <li data-role="list-divider">Queue</li>
    <li><%= f.text_field :queue %></li>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
