<h1>Work Request</h1>
<div data-role="navbar">
  <ul>
    <li><%= link_to "Edit", edit_work_request_path, :data=>{:icon=>"edit"} %></li>
    <li><%= link_to "List", work_requests_path, :data=>{:icon=>"grid"} %></li>
  </ul>
</div>

<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">Title</li>
  <li><%= @work_request.title %></li>

  <li data-role="list-divider">Business Unit</li>
  <li><%= @work_request.unit.title %></li>

  <li data-role="list-divider">Category</li>
  <li><%= @work_request.category.title %></li>

  <li data-role="list-divider">Status</li>
  <li><%= @work_request.status.title %></li>

  <li data-role="list-divider">Plant</li>
  <li><%= @work_request.plant.title %></li>

  <li data-role="list-divider">Area</li>
  <li><%= @work_request.area.title %></li>

  <li data-role="list-divider">Requestors</li>
  <li><%= @work_request.requestors %></li>

  <li data-role="list-divider">Queue</li>
  <li><%= @work_request.queue %></li>
</ul>